# --- Sanity ---
NEXT_PUBLIC_SANITY_PROJECT_ID="wqblxiv7"
NEXT_PUBLIC_SANITY_DATASET="development"
SANITY_API_READ_TOKEN=""
SANITY_API_WRITE_TOKEN=""

NEXT_PUBLIC_SANITY_STUDIO_URL="https://dentistaconegliano.sanity.studio/development"

SMTP_HOST=""
SMTP_PORT="587"
SMTP_USER=""            # es. info@dentistaconegliano.it
SMTP_PASSWORD=""
CONTACT_FROM=""         # mittente (di solito uguale a SMTP_USER)
CONTACT_TO=""           # dove lo studio riceve le richieste

ARCJET_KEY=""
ARCJET_ENV="development"

SANITY_REVALIDATE_SECRET=""

NEXT_PUBLIC_GA_ID=""
